/* DESKTOP VERSION */
.MainBody-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
}

.MainBody-box {
  box-shadow: 0px 1px 4px 6px #aeaeb2;
  padding: 15px;
  border-radius: 10px;
}

.MainBody__body-title {
  display: flex;
  justify-content: center;
}

.MainBody__body-text {
  display: flex;
  justify-content: center;
}

.MainBody__body--GitHubButton-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

/* MOBILE VERSION landscape */
@media (max-width: 926px) {
  .MainBody-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 926px;
  }
}

/* MOBILE VERSION */
@media (max-width: 428px) {
  .MainBody-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 428px;
  }
}
