.profile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* 100% of viewport width */
  height: 90vh; /* 90% of viewport height */
}

.right {
  display: flex;
  flex-direction: row;
  border: 2px solid;
  width: 30%;
  border-radius: 10px;
  padding: 56px;
}

.profile__left-side-title {
  font-weight: 800;
}

.profile__left-side {
  display: flex;
  margin: 10px;
}

.profile__right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile__right-side-profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 800;
}

.profile__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 3px solid;
}

.pointer {
  cursor: pointer;
}

.profile-change-passsword-container {
  display: flex;
  flex-direction: column;
  border: 3px solid;
  width: 20%;
  border-radius: 10px;
  margin-left: 20px;
  padding: 25px;
}

.submit-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.submit-button {
  margin-top: 10px;
  width: 160px;
  height: 30px;
}

.hidden {
  visibility: hidden;
}
