.profile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* 100% of viewport width */
  height: 90vh; /* 90% of viewport height */
}

.profile__profile-information-container {
  width: 40%;
  display: grid;
  grid-template-rows: repeat(0, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.profile-profile-information {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.profile__profile-information-position {
  display: grid;
  justify-items: start;
}

.profile__buttons-container {
  display: flex;
  justify-content: flex-start;
}

/* button theme for light theme */
.profile__button-light {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #191919;
}
/* button theme for dark theme */
.profile__button-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fff;
}

.profile__delete-account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 30%;
}

.profile__delete-account {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  border: 3px solid;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.profile-change-passsword-container {
  display: flex;
  flex-direction: column;
  border: 3px solid;
  width: 20%;
  border-radius: 10px;
  padding: 25px;
}

.submit-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.submit-button {
  margin-top: 10px;
  width: 160px;
  height: 30px;
}

/* MOBILE VERSION */
@media (max-width: 390px) {
  .profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; /* 100% of viewport width */
    height: 110vh; /* 90% of viewport height */
  }

  .profile__profile-information-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .profile-change-passsword-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .profile__delete-account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .profile__delete-account {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid;
    border-radius: 10px;
    justify-items: center;
    width: 100%;
  }

  /* button theme for light theme */
  .profile__button-light {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #191919;
  }
  /* button theme for dark theme */
  .profile__button-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
  }
}
