.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.contact__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.contact__formik-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid #191919;
  border-radius: 10px;
}

.contact__formik-container button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #aeaeb2;
  border-radius: 5px;
  color: white;
}

.contact__formik-container button:hover {
  cursor: pointer;
  background-color: #191919;
}

.textarea-input {
  flex: 1;
  height: auto; /* Remove the fixed height */
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px; /* Adjust padding as needed */
  font-size: 18px; /* Adjust font size as needed */
}

.input-row {
  display: flex;
  flex-direction: column; /* Change to column layout */
  margin-bottom: 10px;
}

.input-row label {
  font-size: 18px;
  margin-bottom: 2px; /* Add margin to separate label and input */
}

.contact__formik-container #inputContactForm {
  flex: 1;
  height: 40px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.contact__formik-input-error-message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.error-message {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  visibility: hidden;
  height: 0px;
}

.error-message:not(:empty) {
  visibility: visible;
  height: auto;
}

.contact__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 50%;
}

.contact__email {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  animation: fadeIn 0.8s;
  z-index: 1;
}

.contact__popup-close-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border: 2px solid #ffffff;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 390px;
}

.popup__close-button {
  position: relative;
  background: none;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
  width: 35px;
  height: 25px;
  transition: 0.8s ease-in-out; /* goes back to its size when hover away slowly */
}

.popup__message {
  border: 2px solid #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.popup__close-button:hover {
  color: red;
  transition: 0.8s ease-in-out;
}

/* MOBILE VERSION portrait */
@media (max-width: 428px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact__formik-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: auto;
    padding: 20px;
    border: 5px solid #191919;
    border-radius: 10px;
  }
}
