.App {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 7px;
  width: 140px;
  border: transparent;
  cursor: pointer;
  background: #3d4145;
  padding: 10px;
}

.button-link {
  color: #fff;
  text-decoration: none;
}

:root {
  --background-color: #ffffff; /* Default light mode background color */
  --text-color: #000000; /* Default light mode text color */
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Dark mode variables */
/* .dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
} */

.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
}

.light-mode {
  --background-color: #46045e
  --text-color: #090909;
}

.app {
  background-color: var(
    --background-color,
  ); /* Default light mode background color */
  color: var(--text-color); /* Default light mode text color */
  transition: background-color 1.5s, color 1s; /* Only transition the background-color and color properties */
}
