html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 7px;
  width: 140px;
  border: transparent;
  cursor: pointer;
  background: #3d4145;
  padding: 10px;
}

.button-link {
  color: #fff;
  text-decoration: none;
}

:root {
  --background-color: #ffffff; /* Default light mode background color */
  --text-color: #000000; /* Default light mode text color */
}

/* Dark mode variables */
.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
}

.app {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: 1s;
  /* Other styles */
}
