.App {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 7px;
  width: 140px;
  border: transparent;
  cursor: pointer;
  background: #aeaeb2;
  padding: 10px;
  color: #fff;
}

.button-link {
  color: #ffffff;
  text-decoration: none;
  background-color: #aeaeb2;
}
/* Dark mode variables */
:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --background-color-dark: #000000;
  --text-color-dark: #ffffff;
}

p {
  padding: 0px;
  margin: 4px;
}

/* Dark mode variables */
.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark) !important;
}
.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light) !important;
}
